#user specific
.idea
./eldashboard/reports/
./eldashboard/job_data/
./eldashboard/report_templates/
./eldashboard/temp_report_docs/
TODO.txt
*.pyc

#confidential
/secrets.json
./eldashboard/credentials.json


#python
__pycache__/