#user specific
.idea
./media/reports/
./media/job_data/
./media/report_templates/
./media/temp_report_docs/
TODO.txt
*.pyc
./venv
#confidential
./eldashboard/credentials.json


#python
__pycache__/
/venv/
/venv/
