{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="card page-card">
      <div class="card-body">
        <div class="card-text">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-success" href="{% url 'sampleform' %}">Add</a>
                </div>
                <div class="col-md-6">
                   <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Search</span>
                      </div>
                      <input id="search-input" type="text" class="form-control search-samples-input" placeholder="Search">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title">
            Samples
        </h5>
        <div class="card-text">
            <table class="table table-striped table-hover" id="sample_list">
                <thead>
                    <tr>
                        <th>EL Ref</th>
                        <th>Client Name</th>
                        <th>Client Ref</th>
                        <th>Batch</th>
                        <th class="w-40">Sample Name</th>
                        <th>Attached Reports</th>
                    </tr>
                </thead>
                <tbody class="clickable">

                </tbody>
            </table>
            <a class="search-samples-more more-pages" page="2">More ...</a>

        </div>

      </div>
</div>

{% endblock %}