{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title">
            <a class="btn btn-info" href="{% url 'listmethods' %}">Back</a>
            {% if id %}
                Test Method #{{ id }}
                <a class="btn btn-danger float-md-right" href="{% url 'removemethod' id=id %}">Delete</a>
            {% else %}
                New Test Method
            {% endif %}
        </h5>
        <hr>
        <div class="card-text">
            <form action="" method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-4">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.tmnumber|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.reporttype|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ form.decimalplaces|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.errortype|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.error|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.description|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <input type="submit" class="btn btn-success" value="Save">
                    </div>
                </div>

            </form>
        </div>

      </div>
</div>

{% endblock %}
